#selectareClasa{
  margin-left:4%;
  margin-top: 2%;
}
#tabelElevi{
    overflow-y: scroll; 
    height:76%;
    margin-top: 5%;
}
#adaugaElev{
    margin-left: 1%;
}
#clasaTitlu{
float:right;
    margin-top: 0%;
    margin-right: 45%;
    font-size:2.5vw;
}
.nav-link{
cursor: pointer;
}
#dropdownMenuButton2{

}
#tabelEleviStatistici{
  position:relative;
    float:right;
    overflow-y: scroll; 
    overflow-x: scroll; 
    height:76%;
    
   width:20%;
}
#tabelEleviStatistici2{
  position:relative;
    margin-top: 1%;
    float:left;
    overflow-y: scroll; 
    overflow-x: scroll; 
    height:76%;
    
   width:23%;
}
#butonAplicatii{
    float:left;
    margin-left: 20%;
    margin-top: -2.3%;
}
#butonStatistici{
margin-left: 2%;
    margin-top: 2%;

}
#titlu{
text-align: center;
margin-top: 2%;
    font-size: 2.1vw;
}
#mycanvas{
margin-top:2%;
}
.coloanaNume{
    width: 100px;
}

#butoane{
    
}
#mycanvas{
   /* width:35%;
    height:60%;*/
    width:25vw;
    height:25vw;
    margin-left: 19%;
    margin-top: 4%;
    
}
#mycanvas1{
   /* width:35%;
    height:60%;*/
    width:40vw;
    height:25vw;
    margin-left: 30%;
    margin-top: 4%;
    
}
#titluClasa1{
  text-align: center;
   margin-top: -2%;
    font-size: 2.4vw;
}