<style>

</style>
<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Selecteza clasa
  </button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
<div ng-repeat="x in clase">
    <a class="dropdown-item" ng-click="selectareClasa(x.id)">{{x.clasa}}</a>

</div>

          
  </div>

<div class="btn-group">
   <button id="butonStatistici"type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Statistici
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" ng-click="media()">Media</a>
    <a class="dropdown-item" href="#">Număr răspunsuri greșite</a>
    <a class="dropdown-item" href="#">Timpul în care a fost făcut exercițiul</a>
       <a class="dropdown-item" href="#">Calificative</a>
  </div>
</div>
<div class="btn-group">
   <button id="butonStatistici"type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Lectii
  </button>
  <div class="dropdown-menu" >
      <div ng-repeat="x in optiuni">
    <a class="dropdown-item" ng-click="mediaAplicatii(x.functie1,x.functie2)">{{x.optiune}}</a>
          </div>
  </div>
</div>
<!--
<div class="dropdown" >
    <button id="butonAplicatii" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Exerciții
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" ng-click="toateExercitiile()" >Toate exercițiile</a></li>
     <li class="dropdown-submenu">
        <a  class="dropdown-item test" >Algoritmul <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" ng-click="mediaAplicatii(1,4)" >Algoritmul</a></li>
          <li><a class="dropdown-item" ng-click="mediaAplicatii(1,0)" >Aplicația 1</a></li>
          <li><a class="dropdown-item"ng-click="mediaAplicatii(2,0)" >Aplicația 2</a></li>
              <li><a class="dropdown-item" ng-click="mediaAplicatii(3,0)" >Aplicația 3</a></li>
          <li><a class="dropdown-item" ng-click="mediaAplicatii(4,0)">Aplicația 4</a></li>
          
        </ul>
         
         <a  class="dropdown-item test" >Expresii Aritmetice <span class="caret"></span></a>
        <ul class="dropdown-menu">
        <li><a class="dropdown-item" ng-click="mediaAplicatii(5,7)" >Expresii Aritmetice</a></li>
          <li><a class="dropdown-item"  ng-click="mediaAplicatii(5,0)">Aplicația 1</a></li>
          <li><a class="dropdown-item" ng-click="mediaAplicatii(6,0)">Aplicația 2</a></li>
              <li><a class="dropdown-item" ng-click="mediaAplicatii(7,0)" >Aplicația 3</a></li>
         
          
        </ul>
         <a  class="dropdown-item test" >Operatori Relaționali <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" ng-click="mediaAplicatii(8,9)" >Operatori Relaționali</a></li>
          <li><a class="dropdown-item"  ng-click="mediaAplicatii(8,0)">Aplicația 1</a></li>
          <li><a class="dropdown-item"ng-click="mediaAplicatii(9,0)" >Aplicația 2</a></li>
            
          
        </ul>
           <a  class="dropdown-item test" >Structura Alternativă <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" ng-click="mediaAplicatii(11,14)" >Structura Alternativă</a></li>
          <li><a class="dropdown-item" ng-click="mediaAplicatii(11,0)" >Aplicația 1</a></li>
          <li><a class="dropdown-item"ng-click="mediaAplicatii(12,0)">Aplicația 2</a></li>
              <li><a class="dropdown-item" ng-click="mediaAplicatii(13,0)"  >Aplicația 3</a></li>
          <li><a class="dropdown-item" ng-click="mediaAplicatii(14,0)">Aplicația 4</a></li>
          
        </ul>
           <a  class="dropdown-item test" >Structura Repetitivă <span class="caret"></span></a>
        <ul class="dropdown-menu">
             <li><a class="dropdown-item"  ng-click="mediaAplicatii(15,18)">Structura Repetitivă</a></li>
          <li><a class="dropdown-item" ng-click="mediaAplicatii(15,0)" >Aplicația 1</a></li>
          <li><a class="dropdown-item"ng-click="mediaAplicatii(16,0)"  >Aplicația 2</a></li>
              <li><a class="dropdown-item" ng-click="mediaAplicatii(17,0)" >Aplicația 3</a></li>
          <li><a class="dropdown-item" ng-click="mediaAplicatii(18,0)">Aplicația 4</a></li>
          
        </ul>
         <li><a class="dropdown-item" ng-click="mediaAplicatii(10,0)">Expresii Logice</a></li>
        
         
         
         
      
    </ul>
  </div>
-->
<div >
    

    
       
<h1 id="titlu">{{alegeri}}</h1>


<div id="tabelEleviStatistici" >
        <table class="table">
  <thead>
    <tr>
      
      <th scope="col">Nume elev</th>
      
    </tr>
  </thead>
  <tbody ng-repeat="y in elevi">
    <tr>
    
     <td> {{y.username}} </td>
         <td> {{y.mesaj}}{{mesaj1}} </td>
        
      
      
    </tr>
   
    
  </tbody>
</table>
    </div>
<div id="canvasCreator">
    <canvas id="mycanvas" height="500px" width="500px"></canvas>
    </div>
       

<script>
$(document).ready(function(){
   
   
    
    
    
    
    
    
    $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
    
});
    
   

    
</script>