
<div id="butonStatistici">
<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Selectează clasa
  </button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
<div ng-repeat="x in clase">
    <a class="dropdown-item" ng-click="selectareClasa(x.id)">{{x.clasa}}</a>

</div>

          
  </div>

<div class="btn-group">
   <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Statistici
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" ng-click="media()">Media calificativelor</a>
    <a class="dropdown-item" ng-click="rGresite()">Număr răspunsuri greșite</a>
       <a class="dropdown-item" ng-click="calificative()">Calificative</a>
  </div>
</div>
<div class="btn-group">
   <button  type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Lectii
  </button>
  <div class="dropdown-menu" >
      <div ng-repeat="x in optiuni">
    <a class="dropdown-item" ng-click="Statistici(x.functie1,x.functie2,x.functie3,x.functie4)">{{x.optiune}}</a>
          </div>
  </div>
</div>
    <h1 id="titluClasa1">{{clasa}}</h1>
</div>
<div >
    

    
       
<h1 id="titlu">{{alegeri}}</h1>


<div id="tabelEleviStatistici" >
        <table class="table">
 <thead id="tabel1">
    <tr ng-repeat="y in titluri">
      
      <th scope="col" class="textStatistici" >{{y.nume}}</th>
      
    </tr>
  </thead> 
 
           <tbody id="chestie">
            <tr ng-repeat="row in cells track by $index" >
                <td ng-repeat="cell in row track by $index">
                    {{cell}}
                </td>
            </tr>
        </tbody> 
          
            <tbody  ng-repeat="y in elevi">
    <tr>
      
     <td  class="textStatistici"> {{y.username}} </td>
        
         <td class="textStatistici"> {{y.mesaj}}{{mesaj1}}</td>
        
      
      
    </tr>
   
    
  </tbody>
                
</table>
    </div>
<div id="canvasCreator">
    <canvas id="mycanvas" ></canvas>
    </div>
       

<script>    
</script>