
bower_components/angular-animate/angular-animate.min.js
bower_components/angular-route/.bower.json
bower_components/angular-route/angular-route.js
bower_components/angular-route/angular-route.min.js
*.map
*.json
*.js
*.md
*.css
*.gzip
bower_components/bootstrap/grunt/.jshintrc
bower_components/bootstrap/grunt/sauce_browsers.yml
bower_components/jquery/AUTHORS.txt
bower_components/jquery/external/sizzle/LICENSE.txt
bower_components/jquery/LICENSE.txt
bower_components/jquery/MIT-LICENSE.txt
