.input{
float:left;
    height: 75%;
    width:20%;
font-size:50px;
}
#semn1{

    margin-left: 2%;
margin-right: 0;
   float:left;
font-size:50px;
    width: auto;
    height: 100px;
}
#spatiuExercitii{

    margin-top: 13%;
}
#id---2{

    margin-left: 2%;
}
#generare{
    margin-top: 1%;

}
#verificare2{
 margin-top: 0%;
   margin-left:20%;
    float:left;
    margin-right: 0;
}
#corect{
margin-top: -2%;
}
