<div id="blocuri" >   <button type="button" class="btn btn-primary" id="clear" ng-click="clear()">Șterge</button>
   <b id="blocuri-text" >Blocuri</b>

    <div class="button11">
       <div class="expl-box" ng-fi-text="Mergi-înainte" ng-click="inainte()"></div>

    </div>
   <div class="button11">
        <div class="expl-box-1" ng-fi-text="Rotire la " ng-click="intoarcere()"></div>
         <button type="button" id="selectie" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
<span class="sr-only">Toggle Dropdown</span><div style="margin-top: -10%;">{{rotireText}}</div>
</button>
<div class="dropdown-menu">
<a class="dropdown-item" ng-click="dreapta()">Dreapta</a>
<a class="dropdown-item"  ng-click="stanga()">Stanga</a>

</div>
</div>
    <div class="button11">
        <div class="expl-box-1" ng-fi-text="Repeta de " style="width:55%;" ng-click="repeta()"></div>
        <input type="input" id="repetaInput" ng-model="$parent.numarRepetari">
        <div class="expl-box-1" ng-fi-text="ori " style="margin-left:78%;margin-top: -29%;width:15%" ng-click="repeta()"></div>
</div>
    <div class="button11" style=" width:50%;">
       <div class="expl-box" ng-fi-text="End" style=" width: 45%;margin-left: 25%;" ng-click="end()"></div>

    </div>


</div>
</div>
