<div id="blocuri" >   <button type="button" class="btn btn-primary" id="clear" ng-click="clear()">Șterge</button>
   <b id="blocuri-text" >Componente</b>
  <p>&nbsp Corpuri tanc<p>
    <img src="paginaVizitator/assets/images/corp_albastru.png" width="44%" heigth="39%"style="margin-left:6%;" ng-click="corpTanc1()">
    <img src="paginaVizitator/assets/images/corp_gri.png" width="44%" heigth="39%" ng-click="corpTanc2()">
  <p>&nbsp Capuri tanc<p>
    <img src="paginaVizitator/assets/images/cap_albastru.png" width="24%" heigth="19%" style="margin-left:15%;"ng-click="capTanc1()">
    <img src="paginaVizitator/assets/images/cap_gri.png" width="24%" heigth="19%" style="margin-left:15%;" ng-click="capTanc2()">
  <p>&nbsp Roți tanc<p>
     <img src="paginaVizitator/assets/images/roti.png" width="41%" heigth="36%" style="margin-left:24%;" ng-click="roti()">

</div>
