
		p { font-size: 1.2em }

		h2 { margin-top: 50px; }

		h5 { height: 26px; text-align: center; margin-top: 20px;}

		.desc { margin: 50px auto; }


  .alert {width: 50%;
      height:50px;
    float:left;


    }

    container12{
z-index: 1;

    }
   #marcaj{
z-index: 1;

    }
    #rowMatrice{
        width: 100%;
        margin-left: 0px;
        height: 100%;
}
    .col{
background-color: ghostwhite;
        border-style: solid;

        border-width: 0.5px;
      height: 16.7%;
    }
    #object1{
        margin:1.4%;

        height:6%;
        width:4%;
        position:absolute;
        z-index: 2;
        display: none;
    }
    #clear
{z-index: 1;
     position: fixed;
   margin-left:-6%;
    margin-top: 1%;
    width:5%;
}
    #butonsmecher{
        margin-top:-15%;
    }
    #deleteLine{

   position: fixed;
     bottom: 6%;
     right: 20%;
    }

    #tab-aplicatii{

    margin-left:0.2px;

    }
    #dreapta{
     margin-left:100px;
        margin-top: -50px;

    }
    .expl-box-1{
        width:50%;

    }
    #selectie{
        margin-left: 48%;
        margin-top:-23%;
        height:7%;
        width:50%;

    }
    #repetaInput{
       width:20%;
        margin-left:56%;
        margin-top:-22%;
        height:6%;
    }
 .col1{
background-color: ghostwhite;
        border-style: solid;
 width:16.66%;
        border-width: 0.5px;
      height: 16.7%;
    }
#errorPanel{
    display:none;
    z-index: 1;
    width: 50%;
    height:50%;
    border-radius:25px;
    background-color: white;
    border-color: black;
    border-width: 2px;
    margin-top: -60%;
    margin-left: 25%;
    border-style:solid;
}
#textError{
    margin-top: 30%;
}
#butonError{
    margin-left:25%;

}
.imaginiSemne{
	margin-top:15%;
	margin-left:15%;
  margin-right:50%;
	width:25%;
}
.tabAplicatie{
    width: 25%;
    text-indent: -5px;
    font-size: 15px;
    text-align: center;
}
