<div id="blocuri" > 
   <b id="blocuri-text" >Componente</b>
  <p>&nbsp Corpuri tanc<p>
    <img class="corp" src="fisiere/assets/images/corp_albastru.png" width="44%" heigth="39%"style="margin-left:6%;" ng-click="corpTanc1()">
    <img  class="corp" src="fisiere/assets/images/corp_gri.png" width="44%" heigth="39%" ng-click="corpTanc2()">
  <p>&nbsp Capuri tanc<p>
    <img class="cap"src="fisiere/assets/images/cap_albastru.png" width="24%" heigth="19%" style="margin-left:15%;"ng-click="capTanc1()">
    <img  class="cap"src="fisiere/assets/images/cap_gri.png" width="24%" heigth="19%" style="margin-left:15%;" ng-click="capTanc2()">
  <p>&nbsp Roți tanc<p>
     <img class="roti" src="fisiere/assets/images/roti.png" width="41%" heigth="36%" style="margin-left:24%;" ng-click="roti()">

</div>
<script>
     var height=$(document).height();
   var width=$(document).width();
    if (width<1401&&height<800 ){
$(".corp").width("36%");
$(".cap").width("21%");
$(".roti").width("35%");
$(".corp").height("17%");
$(".cap").height("17%");  
$(".roti").height("15%");
    }
</script>