<div id="blocuri" >   <button type="button" class="btn btn-primary" id="clear" ng-click="clear()">Șterge</button>
   <b id="blocuri-text" >Blocuri</b>

    <div class="button11">
       <div class="expl-box" ng-fi-text="Mergi-înainte" ng-click="inainte()"></div>

    </div>

    <div class="button11">
        <div class="expl-box-1" ng-fi-text="Daca (soseaua este blocata) executa " style="width:99%;" ng-click="if()"></div>
        
</div>
    <div class="button11">
        <div class="expl-box-1" ng-fi-text="Ocolire obstacol" style="width:99%;text-align:center;" ng-click="ocolire()"></div>
        
</div>
    


</div>
</div>

