#titluRaspunsuri{
    float:right;
    margin-top: -2%;
    margin-right: 25%;
        padding-top: 2%;
}
#reloadTest{
    float: right;
    margin-top: -50%;
    margin-right: 5%;
}
#titluIntrebari{  
    padding-top: 2%;
    margin-top: -2%;
    margin-left:25%;
    float:left;
}
.red{
  background-color: red;
  font-size: 40px;
}
.container{
      
  width:55%;
  margin-left: 16%;
margin-top:4%;

    height: 70%;
    border-bottom-width: 0px;
}

.coloana1{
background-color:#FDFDFD;
border-color:#ff4949;
border-radius: 0.2px;
border-style:solid;

height: 9.8%;
font-size: 20px;
width:80%;

}
.coloana2{
background-color:#FDFDFD;
border-color:#ff4949;
border-radius: 0.2px;
border-style:solid;
border-left-width: 0px;

height: 9.8%;
font-size: 20px;
width:80%;

}
.intrebare{
    max-height: 100px;
    min-height: 100px;
}
#evaluareEnding{

display: none;
}
#rezultat{
   text-align: center;
    margin-top: 2%;
}
#titluEvaluare{
    text-align: center;
       margin-top: 1.5%;
font-size: 60px;
   color:#474747;
}
#fundal{
    width: 400px;
    height:500px;
    z-index: 2;
}

.modal-dialog{
    margin-top: 7%;
    float:left;
    width: 500px;
    margin-left:8%;
     z-index: 1;
}
#evaluareProgres{
    height: 30px;
    margin-top: 4%;
    margin-left: 20%;
    width:50%;
    font-size: 20px;

}
.progress-bar{
    color:black;
}
#qid {
  padding: 10px 15px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 20px;
}
label.btn {
    padding: 18px 60px;
    white-space: normal;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s
}

label.btn:hover {
    text-shadow: 0 3px 2px rgba(0,0,0,0.4);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1)
}
label.btn-block {
    text-align: left;
    position: relative
}

label .btn-label {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    padding: 0 10px;
    background: rgba(0,0,0,.15);
    height: 100%
}

label .glyphicon {
    top: 34%
}

.modal-header {
    background-color: transparent;
    color: inherit
}

.modal-body {
    min-height: 205px
}
#loadbar {
    position: absolute;
    width: 62px;
    height: 77px;
    top: 2em
}
