<!DOCTYPE html>
<html >

<!-- <script src="scripturi/angularscript.js"></script> -->




<body  ng-app="myApp">

    <div id="next_and_previous" ng-controller="pagini">
    <a class="btn btn-primary" ng-href="#{{href}}" role="button" id="Previous" ng-click="previous()" >Previous</a>
    <a class="btn btn-primary" href="#{{href}}" role="button" id="Next " ng-click="next()" >Next</a>

    <div>{{testHttp}}</div>
    </div>

    <!--<img id="info_button"  src="page/assets/images/info.png" width="50px" height="50px" style="float:right;margin-right:-17.5%;margin-top:3.3%;"  >
-->
    <div id="view" ng-view >

    </div>


    </body>

<script src="page/angularscript11.js"></script>
<script src="page/ngRouteScript.js"></script>

    <style >
        #view.ng-enter{
            transition: 0.5s linear all;
            opacity: 0;
        }
        #view.ng-enter.ng-enter-active{
            opacity:1;
        }

    </style>


    <script>
$("#sub-menu").show();
$("#info_button").click(function(){

$("#info_panel").show();

})

    </script>

</html>
