
<style>
    
		p { font-size: 1.2em }

		h2 { margin-top: 50px; }

		h5 { height: 26px; text-align: center; margin-top: 20px;}

		.desc { margin: 50px auto; }


		[class^="expl-box"] {
			text-align: center;
            position: relative;
			height: 10%;
            color:white;
			/*margin: 15px;*/
			/*border: 2px solid gray;*/
             z-index: 1;
		}
  
		.expl-box-fi {
			margin-left: 10px;
            border-style: none;
			height: 95%;
            width:99%;
             text-align: left; 
             text-indent: 30px;
            color:black;
             z-index: 1;
		}
    .expl-box-fi1 {
		
            border-style: none;
			height: 7%;
            width:100%;
             text-align: left; 
             
            color:black;
            
		}
     
		}
   

		.expl-box-nr {
			height:200px; overflow-y: scroll 
		}
  
</style>
<body ng-app="myApp" >
<div class="titlu-sectiune">
  <h1>Inceput - Algoritmul</h1>
</div>



<div>

<div id="frame-aplicatie"  >
  
    <div id="informatie-aplicatie" >
 
		
<div class="expl-box-fi" ng-fi-text="Productia de titei este de aproximativ 6,6 mil. tone iar exploatarea de gaz metan prin apropierea Clujului stinge 28.000 metrii cubi anual. In Carpatii Occidentali, in Petrosani se extrag anual 43 mil. tone de licnit. Energie termica este produsa in proportie de cca. 77% de termocentrale, care folosesc licnit, petrol si gaz, iar restul de 23% este dat in hidrocentrale."></div>
	 	
   </div>  <div ng-controller=blocuri>
    <div id="exe-aplicatie" >
   
       <div id="animation-side">
     

<div class="container">
  <div class="box rotate"></div>
</div>



<style>

</style>
           
<!-- <img src="page/assets/images/masina.png" width="70px"  height="40px" >
           <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
-->       
       </div>
           <button class="btn btn-primary " class="button_text" id="butonsmecher" ng-click="Run()"><span class="button_text" >Run</span>
          <img  class="image_button" src="page/assets/images/button-play-icon.png"  float="right"> 
            </button>
         
   

   </div>
  
    <div id="code-aplicatie" >
    
   
  <div id="marcaj">
     
      <div class="expl-box-fi1" ng-fi-text=" &nbsp;Program"></div>
     <div class="expl-box-fi1"ng-repeat="x in records " ng-fi-text="{{x}}"></div>

      
   </div>
    
   </div>
    <div id="blocuri" >
       <b id="blocuri-text" >Blocuri</b>
        <div class="button11"  >
           <div class="expl-box" ng-fi-text="Mergi-inainte" ng-click="myFunc()" ></div>
        </div>
      
   </div>
   </div>
</div>

</div> 
 
</body>