
<style>
    
		p { font-size: 1.2em }

		h2 { margin-top: 50px; }

		h5 { height: 26px; text-align: center; margin-top: 20px;}

		.desc { margin: 50px auto; }


		[class^="expl-box"] {
			text-align: center;
            position: relative;
			height: 10%;
            color:white;
			/*margin: 15px;*/
			/*border: 2px solid gray;*/
             z-index: 1;
        
		}
  
		.expl-box-fi {
			margin-left: 10px;
            border-style: none;
			height: 95%;
            width:99%;
             text-align: left; 
             text-indent: 30px;
            color:black;
             z-index: 1;
		}
    .expl-box-fi1 {
		
            border-style: none;
			height: 7%;
            width:100%;
             text-align: left; 
             
            color:black;
            
		}
     
		}
   

		.expl-box-nr {
			height:200px; overflow-y: scroll 
		}
  .alert {width: 50%;
      height:50px;
    float:left;
        
        
    }
  
    container12{
z-index: 1;
     
    }
   #marcaj{
z-index: 1;
      
    }
    .row{
        width: 100%;
        margin-left: 0px;
        height: 100%;
}
    .col{
background-color: ghostwhite;
        border-style: solid;
       
        border-width: 0.5px;
      height: 16.7%;
    }
    #object1{
        margin:1.7%;
        background-color:dodgerblue;
        height:5%;
        width:3.5%;
        position:absolute;
        z-index: 2;
    }
    #clear
{z-index: 2;
     position: fixed;
   margin-left:-6%;
    margin-top: 1%;
    width:5%;
}
    #butonsmecher{
        margin-top:-15%;
    }
    #deleteLine{
 
   position: fixed;
     bottom: 6%;
     right: 20%;
    }
    
    #tab-aplicatii{

    margin-left:0.2px;
    
    }
    #dreapta{
     margin-left:100px;
        margin-top: -50px;
        
    }
    .expl-box-1{
        width:50%;
        
    }
    #selectie{
        margin-left: 48%;
        margin-top:-23%;
        height:7%;
        width:50%;
       
    }
    #repetaInput{
       width:20%;
        margin-left:56%;
        margin-top:-22%;
        height:6%;
    }
</style>
<body ng-app="myApp" >
<div class="titlu-sectiune">
  <h1>Inceput - Algoritmul</h1>
</div>



<div>

<div id="frame-aplicatie"  >
  
    <div id="informatie-aplicatie" >
 
		
<div class="expl-box-fi" ng-fi-text="Producdtia de titei este de aproximativ 6,6 mil. tone iar exploatarea de gaz metan prin apropierea Clujului stinge 28.000 metrii cubi anual. In Carpatii Occidentali, in Petrosani se extrag anual 43 mil. tone de licnit. Energie termica este produsa in proportie de cca. 77% de termocentrale, care folosesc licnit, petrol si gaz, iar restul de 23% este dat in hidrocentrale."></div>
	 	
   </div>  <div ng-controller=blocuri>
    <div id="exe-aplicatie" >
    <nav id="tab-aplicatii">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"role="tab" aria-controls="nav-home" aria-selected="false" ng-click="a1()">A1</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"  role="tab" aria-controls="nav-profile" aria-selected="true" ng-click="a2()">Profile</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false" ng-click="a3()">Contact</a>
  </div>
</nav>
         <div id="object1"></div>
        
<div  ng-include src="src">
       
     

<div class="container">
  <div class="box rotate"></div>
</div>



           
<!--<img src="page/assets/images/masina.png" width="70px"  height="40px" > -->
          
       
  <!--         
 
      -->
       
        <div>
       <!-- <div class="alert alert-danger">{{error}}</div>  --> 
        
      </div>   
   
    </div>
        <button class="btn btn-primary " class="button_text" id="butonsmecher" ng-click="Run()" ><span class="button_text" >Run</span>
          <img  class="image_button" src="page/assets/images/button-play-icon.png"  float="right"> 
            </button>
   </div>
  
    <div id="code-aplicatie" >
    
   
  <div id="marcaj">
     
      <div class="expl-box-fi1" ng-fi-text=" &nbsp;Program"></div>
     <div class="expl-box-fi1"ng-repeat="x in records track by $index " ng-fi-text="{{x}}"></div>

      
   </div>
         
   </div>
    
    <div id="blocuri" >   <button type="button" class="btn btn-primary" id="clear" ng-click="clear()">Clear</button>
       <b id="blocuri-text" >Blocuri</b>
        <div class="button11"> 
           <div class="expl-box" ng-fi-text="Mergi-inainte" ng-click="inainte()"></div>
          
        </div>
        <div class="button11">
            <div class="expl-box-1" ng-fi-text="Rotire la " ng-click="intoarcere()"></div>
             <button type="button" id="selectie" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
    <span class="sr-only">Toggle Dropdown</span><div style="margin-top: -10%;">{{rotireText}}</div>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" ng-click="dreapta()">Dreapta</a>
    <a class="dropdown-item"  ng-click="stanga()">Stanga</a>
    
  </div>
</div>
        <div class="button11">
            <div class="expl-box-1" ng-fi-text="Repeta de " style="width:55%;" ng-click="repeta()"></div>
            <input type="input" id="repetaInput" ng-model="numarRepetari">
            <div class="expl-box-1" ng-fi-text="ori " style="margin-left:78%;margin-top: -29%;width:15%" ng-click="repeta()"></div>
</div>
        <div class="button11" style=" width:50%;"> 
           <div class="expl-box" ng-fi-text="End" style=" width: 45%;margin-left: 25%;" ng-click="end()"></div>
          
        </div>
      
      <div id="deleteLine">
<input type="text" value="" style="float:right;width:10%;" ng-model="rand">
             <button style="float:right;" ng-click="deleteLine()">Sterge</button>
        
         </div> 
   </div>
   </div>
</div>

</div> 
 
</body>
<script src="page/script.js"></script>
<script>
$(document).ready(function(){
                  
                 
$('.dropdown-toggle').dropdown();
     })
</script>